@model Cadastro_Cliente_Ponto.Models.Funcionario
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
@if(ViewBag.erro != null)
{
    <label class="label label-danger">@ViewBag.erro</label>
}
else
{

}
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
                <label>Nome:</label>
            </td>
            <td>
                @Html.EditorFor(m => Model.Nome)
            </td>
        </tr>
        <tr>
            <td>
                <label>Endereço: </label>
            </td>
            <td>
                @Html.EditorFor(m => Model.Endereco)
            </td>
        </tr>
        <tr>
            <td>
                <label>CPF: </label>
            </td>
            <td>
                @Html.EditorFor(m => Model.Cpf)
            </td>
        </tr>
        @*<div class="col-md-2">
            <label>Data de Nascimento: </label>
            @Html.EditorFor(m => m.Data_De_Nascimento, new { @class = "datepicker" })
        </div>*@
        <tr>
            <td>
                <label>Data de Nascimento: </label>
            </td>
            <td>
                <div class="input-group date" data-provide="datepicker">
                    @Html.EditorFor(m => m.Data_De_Nascimento, new { @class = "datepicker" })
                    <div class="input-group-addon" style="visibility:hidden">
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" name="CadastrarFuncionario" value="Cadastrar" class="btn btn-danger" />
                    </div>
                </div>
            </td>
        </tr>
    </table>
}

<script>
    //$('#datepicker').datepicker();
    $('.datepicker').datepicker({
        format: 'yyyy/mm/dd',
        startDate: '-3d'
    });
</script>